{% extends 'base-back.html.twig' %}

{% block title %}New CentresMariages{% endblock %}

                 {% block content %}
    <h1>Create new CentresMariages</h1>

    {{ include('centres_mariages/_form.html.twig') }}

    <a href="{{ path('app_centres_mariages_index') }}" type="button" class="btn btn-primary waves-effect waves-light">back to list</a>
{% endblock %}
